# Compiled class files
*.class

# Logs
*.log
logs/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# IntelliJ
.idea/
*.iml
out/

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS files
.DS_Store
Thumbs.db

# Java packages
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*
